In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%store -r onethird_df

In [4]:
onethird_df

            dates stock      open     close      high       low    volume
0      2020-03-25  NFLX  361.0200  353.9600  362.0000  345.6700   3392809
1      2020-03-24  NFLX  369.9900  357.3200  372.9300  353.0301  11302847
2      2020-03-23  NFLX  347.8900  360.2700  366.1100  340.8838  13449378
3      2020-03-20  NFLX  342.3100  332.8300  350.4900  332.0000  10853846
4      2020-03-19  NFLX  324.3300  332.0300  348.5100  316.8200  10615957
...           ...   ...       ...       ...       ...       ...       ...
20381  2019-03-29   JNJ  139.2800  139.7900  139.8800  138.8800   7168449
20382  2019-03-28   JNJ  139.0600  138.8800  139.4600  138.7100   4602073
20383  2019-03-27   JNJ  138.5900  138.7000  139.4800  138.0700   6764854
20384  2019-03-26   JNJ  136.9300  138.5700  139.2700  136.9300   4758846
20385  2019-03-25   JNJ  136.9100  136.6100  137.0100  135.7400   4500368

[3810 rows x 7 columns]